body {
    background: #C0D9AF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-family: "Merienda", sans-serif, Arial;
    font-size: 1.5rem;
}

/* Typography */
h1 {
    color: #ffffff;
    padding: 0 0 0 0.5rem;
    border: 0.15rem solid #759B84;
    border-radius: 1rem;
}

/* General Styles */
kbd {
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
    color: #333;
    margin-left: -0.4rem;
    text-align: left;
}

section {
    width: 50%;
}

.white-keys {
    height: 250px;
    width: 100%;
}

.white-keys kbd {
    border: 0.15rem solid #759B84;
    height: 200px;
    width: 95px;
}

.black-keys {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.black-keys kbd {
    background-color: #000000;
    height: 150px;
    width: 60px;
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 150px;
}

.left {
    position: relative;
    left: 65px;
}

.left kbd {
    margin-right: 2.8rem;
}

.right {
    position: relative;
    right: 65px;
}

.right kbd {
    margin-right: 1.7rem;
}

.pressed {
    background: #333333 !important;
    color: #ffffff;
}
