body {
    background: #C0D9AF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Merienda", sans-serif, Arial;
    font-size: 2rem;
}

.container {
    width: 50%;
    height: 300px;
    display: flex;
}

h1 {
    color: #ffffff;
    padding: 0 0 0 2.5rem;
    border: 0.15rem solid #759B84;
    border-radius: 1rem;
}

kbd {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
    color: #333;
    border: 0.15rem solid #759B84;
    flex-grow: 1;
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
